
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.menu
{
    color: black;
    background-color: aliceblue;
    border-style: solid;
    border-color: rgb(20, 37, 94);
    width: 100%;
    margin-top: 3px;
}